<%= input_container(id: @options[:container_id], class: @options[:class]) do %>
  <%= label %>
  <div class="relative flex items-center">
    <%= text_field(
      id_option.merge(value_option).merge({
        autocomplete: @options[:autocomplete],
        readonly: @options[:readonly],
        disabled: @options[:disabled],
        class: 'peer block leading-tight rounded ' \
              'w-full min-h-[3rem] px-4 py-2 ' \
              'bg-white appearance-none ' \
              'border border-primary-50 ' \
              'focus:outline-none ' \
              'disabled:opacity-60 ' \
              'group-[.error]:border-semantic-danger group-[.warning]:border-warning-400',
        data: merge_data({
          "#{controller_id}-target": 'input',
          action: [
            "blur->#{controller_id}#validateNow",
            "keydown->#{controller_id}#validateLater",
            "input->#{controller_id}#validateLater",
            "paste->#{controller_id}#validateLater"
          ].join(' ')
        }),
        placeholder:,
        type: @type
      })
    ) %>
    <% if @options[:icon_right] %>
      <i class="absolute top-0 right-4 bottom-0 my-auto pointer-events-none text-gray-80 <%= @options[:icon_right] %>"></i>
    <% end %>
  </div>
  <%= error_container %>
<% end %>
